@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@claviska/jquery-minicolors/jquery.minicolors.css';
@import './base/h';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #282a35 !important;
}

h1 {
  color: #fff;

  small {
    color: #fff;
  }
}

label {
  color: #fff;
}

.map {
  height: 100%;
}

.btn.active {
  font-weight: bold !important;
  color: #ff0 !important;
}

.form-control#txtAdd {
  width: 280px;
}

.form-control[type='number'] {
  width: 100px;
}

.form-control[data-control='hue'] {
  width: 110px;
  height: inherit;
  
  +span {
    top: 10px;
  }
}
